
    @{ 
        ViewBag.Title = "Posts";
    }



    <h1>Hi</h1>
    <p>
        <a href="@Url.RouteUrl("login")">Click here to login</a>
    </p>

    <p>
        @Html.RouteLink("click here to login", "login")
    </p>

