
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple blog</title>
</head>
<body>
    <h1>Simple blog</h1>

    @RenderBody()

</body>
</html>
